<?xml version="1.0" encoding="UTF-8"?>
<quiqqer>
    <settings>

        <config>

            <section name="api">
                <conf name="public_key">
                    <type><![CDATA[string]]></type>
                </conf>
                <conf name="private_key">
                    <type><![CDATA[string]]></type>
                </conf>
            </section>

            <section name="payment">
                <conf name="paymill_transaction_description">
                    <type><![CDATA[string]]></type>
                </conf>
            </section>

        </config>

        <window>
            <title>
                <locale group="quiqqer/payment-paymill" var="settings.menu.title"/>
            </title>

            <params>
                <icon>fa fa-credit-card</icon>
            </params>

            <categories>
                <category name="api">
                    <icon>fa fa-cogs</icon>
                    <title>
                        <locale group="quiqqer/payment-paymill" var="settings.category.api.title"/>
                    </title>
                    <settings title="api" name="api">
                        <title>
                            <locale group="quiqqer/payment-paymill" var="settings.api.title"/>
                        </title>

                        <input conf="api.private_key" type="text">
                            <text>
                                <locale group="quiqqer/payment-paymill" var="settings.api.private_key.title"/>
                            </text>
                            <description>
                                <locale group="quiqqer/payment-paymill" var="settings.api.private_key.description"/>
                            </description>
                        </input>

                        <input conf="api.public_key" type="text">
                            <text>
                                <locale group="quiqqer/payment-paymill" var="settings.api.public_key.title"/>
                            </text>
                            <description>
                                <locale group="quiqqer/payment-paymill" var="settings.api.public_key.description"/>
                            </description>
                        </input>

                    </settings>
                </category>

                <category name="payment">
                    <icon>fa fa-credit-card</icon>
                    <title>
                        <locale group="quiqqer/payment-paymill" var="settings.category.payment.title"/>
                    </title>
                    <settings title="payment" name="payment">
                        <title>
                            <locale group="quiqqer/payment-paymill" var="settings.payment.title"/>
                        </title>

                        <input conf="payment.paymill_transaction_description" type="text" data-qui="controls/lang/InputMultiLang">
                            <text>
                                <locale group="quiqqer/payment-paymill" var="settings.payment.paymill_transaction_description.title"/>
                            </text>
                            <description>
                                <locale group="quiqqer/payment-paymill" var="settings.payment.paymill_transaction_description.description"/>
                            </description>
                        </input>

                    </settings>
                </category>

                <category name="paymill_offers">
                    <icon>fa fa-credit-card</icon>
                    <title>
                        <locale group="quiqqer/payment-paymill" var="settings.category.paymill_offers.title"/>
                    </title>

                    <settings name="paymill_offers" title="paymill_offers">
                        <input type="hidden" data-qui="package/quiqqer/payment-paymill/bin/controls/backend/Offers" label="false">
                        </input>
                    </settings>

                </category>

            </categories>
        </window>

    </settings>
</quiqqer>